www.ccochrane.com, ccochrane.com {
	tls cochrane26@gmail.com {
		ca https://acme-v02.api.letsencrypt.org/directory
	}
	timeouts 2s
	ext .html
	push /index.html {
		/images/me.jpg
		/images/favicon.ico
	}
	push /posts/self-hosting.html {
		/images/favicon.ico
		/images/self-hosting-1.png
		/images/self-hosting-2.png
		/images/self-hosting-3.png
		/images/self-hosting-4.png
		/images/self-hosting-5.png
	}
}
